@font-face {
  font-family: 'dinpro-medium'; 
  src: url('./fonts/dinpro-medium.eot'); /* IE9 Compatibility Modes */
  src: url('./fonts/dinpro-medium.eot?') format('eot'),  /* IE6-IE8 */
  url('./fonts/original-dinpro-medium.otf') format('otf'), 
  url('./fonts/dinpro-medium.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'dinpro-light'; 
  src: url('./fonts/dinpro-light.eot'); /* IE9 Compatibility Modes */
  src: url('./fonts/dinpro-light.eot?') format('eot'),  /* IE6-IE8 */
  url('./fonts/original-dinpro-light.otf') format('otf'), 
  url('./fonts/dinpro-light.ttf') format('truetype'); /* Safari, Android, iOS */
}

.App-logo {
  height: 80px;
  text-align: left;
  margin: 0px;
  border: 0px;
  padding-left: 13px;
}

.App-header {
  background-color: #CFB676;
  color: #FFF;
  padding-left: 40px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0px;
  margin: 0px;
  text-align: center;
 
}

.App-text {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: dinpro-light;
}

.Footer-text {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: dinpro-light;
  padding-bottom: 15px
}
.App-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
}

.Footer {
  background-color: #2C3673;
  color: #FFF;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0px;
  margin: 0px;
  text-align: center;
 
}

.App-text {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Band-info {
  border: 3px solid #2C3673;
  padding: 8px;
  margin: 20px;
  width: 50%;
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
}

.Band-stage {
  background-color: #2C3673;
  color: #FFF;
  font-size: 21px;
  padding-left: 6px;
  padding-right: 6px;
  border: 0px;
  margin: 0px;
}

.Band-name {
  color: #2C3673;
  font-size: 21px;
  padding-top: 10px;
  border: 0px;
  margin: 0px;
  font-weight: bold;
  text-align: left;
}

.Band-hour {
  color: #2C3673;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: 0px;
  margin: 0px;
}

.Vote-container {
  width: 50%;
  display: flex; 
  flex-direction: column;
  text-align: center;
}


.Vote-value {
  color: #2C3673;
  margin: 0px 0px;
  font-size: 70px;
  border: none;
  padding: 0px;
}

.Vote-rate {
  font-size: 6em;
  color: #2C3673;
  margin: 0px 0px;
}

.Row-band{
  width: 100%;
  display: flex; 
  flex-direction: row;
  background-color: 'white';
}

.button {
  background-color: #2C3673;
  border: none;
  color: #FFF;
  padding: 5px 4px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 25px;
  cursor: pointer;
}

.Vertical-line{
    border-bottom: 2px solid #CFB676;
}

.button-voted{
  color: #2C3673;
  font-size: 15px;
  padding: 5px 4px;
  border: 0px;
  margin: 4px 25px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.space{
  padding-bottom: 15px;
}

.blue-star {
  font-size:30px;
  padding-bottom: 25px;
  
  color: #2C3673;
}

.light-blue-star {
  font-size:30px;
  color: #77C4BA;
}

.Footer-cw{
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: dinpro-light;
  color: #2C3673
}